html,
body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 9px;
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 2rem;
  background-color: #9f9b99;
}

/*products*/
.container {
  width: 90vw;
  background-color: #9f9b99;
  margin: 2.5rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  width: 22%;
  height: 450px;
  background-color: #928f8d;
  margin: 20px 0;
  border-radius: 15px;
  box-shadow: 0 1px 4px #645c56;
}

/*.cart  {
  width: 600px;
  height: auto;
  background-color: #9f9b99;
  margin: 20px auto; 
  display: flex;
  flex-direction: column;
}

.cart__container {
  width: 550px;
  height: auto;
  background-color: #9f9b99;
  margin: 20px auto; 
  display: flex;
  flex-direction: column;
}

.cart__price {
  width: 550px;
  height: auto;
  background-color: #94908e;
  margin: 20px auto; 
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
  */

.cart {
  background-color: #928f8d;
  width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 1px 4px #645c56;
}

.cart__item {
  border-bottom: 1px solid #645c56;
  padding: 10px 0;
}

.cart__total {
  margin-top: 15px;
  font-size: 1.6rem;
  text-align: right;
}

.hidden {
  display: none;
}


/*product text*/
h1 {
  font-size: 10rem;
  background-color: #9f9b99;
  margin: 45rem auto;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  padding: 10px;
  line-height: 1rem;
  font-weight: medium;
}

h3 {
  font-size: 2rem;
  padding: 10px;
  line-height: 2rem;
  font-weight: medium;
}

p {
  font-size: 1.5rem;
  padding: 10px;
  line-height: 1rem;
}

button {
  font-size: 1.5rem;
  background-color: #2e2c2b;
  font-family: "Montserrat", sans-serif;
  padding: 3px;
  text-align: center;
  float: right;
  padding: 10px;
  line-height: 1rem;
  margin-right: 15px;
  margin-bottom: 0px;
  border-radius: 0.5rem;
}

.card img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .card {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}